*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* to keep the element inside the box */
  font-family: sans-serif;
}
body{
  background-image: url(./image/sky2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  /* background-color: azure; */
  /* background color on the screen */
}
.container{
  /* background-color: #7CB9E8; */
  max-width: 500px;
  /* provide width to our main screen */
  text-align: center;
  padding: 20px;
  /* contant distance from the container border */
  box-shadow: 0px 0px 30px rgba(0,0,0, 0.8);
  /* provide shodow to our box */
  margin: 20px auto;
  /* margin top botton 20px and left right auto */
  margin-top: 40px;
  /* margin top is ovrride from line 21 */
  border-radius: 5px;
  /* round the corner */
}
form{
  display: flex;
  /* used to manipulate the alignment, spacing, and order of elements within a container */
  justify-content: space-between;
  /* space out flex items evenly along the main axis of a flex container */
  margin: 60px;
  align-items: center;
}
form input[type="text"]{
  /* us form k input ko tadget kro jiska typr text hai */
  padding: 10px;
  font-size: 18px;
  width: 70%;
  border: none;
  /* border remove ho jayegi */
  outline: none;
  /* outline bhi remove ho jayegi */
  border-radius: 5px;
  /* round the corner */
}
form input[type="submit"]{
  /* us form k input ko tadget kro jiska typr submit hai */
  padding: 10px 20px;
  /* 10 from top bottom and 20 from left right */
  border: none;
  /* no border */
  background-color: #c84738;
  color: #fff;
  /* text color */
  font-size: 18px;
  border-radius: 5px;
  /* border curve */
  cursor: pointer;
  transition: all 0.2s ease-in;
}
form input[type="submit"]:hover{
  background-color: rgb(171, 75, 75);
}
.icon img{
  width: 48%;
  height: 48%;
  background-size: contain;
  /* by property contain our image(like sun sky etc. don't go outside the above width and ht) */
  background-repeat: no-repeat;
  /* img should not repeat */
  background-position: center center;
  /* positions a background image in the center of an element */
}
.temp{
  font-size: 40px;
  font-weight: 1000;
  /* boldness of temp */
  margin-top: 10px;
  /* margin-top: 10px from top and botttom create distance between the icon img and temp */
}
.desc{
  /* desc is the thing writtten after temp */
  font-size: 30px;
  font-weight: 700;
  /* matke it bold */
  margin-top: 10px;
  /* margin-top: 10px from top and bottom create space between temp and desc */
  margin-bottom: 20px;
  /* it override the above margin fro bottom */
}
.details{
  display: flex;
  /* brings all the details in a horizontal line i.e. x-axis */
  justify-content: center;
  /* Aligns items along the main axis, which is usually horizontal */
  align-items: center;
  /* Aligns items along the cross axis, which is usually vertical  */
  flex-wrap: wrap;
  /* sets whether flex items are forced onto one line or can wrap onto multiple lines */
}
.details>div{
  /* by the sing > all the div lies in details comes in it */
  font-size: 15px;
  background-color: #fffbfb80;
  padding: 20px;
  border-radius: 5px;
  margin: 10px;
  /* they seperate from each other */
  min-height: 40px;
  text-align: center;
  align-items: center;
  flex: 1;
}